<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Festive Travel Planner</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style type="text/css">
        body {
            background-color: white;
        }
        
    </style>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-25335550-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-25335550-2');
    </script>
</head>
<body>
    @*<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Index2", "Index2", "Home")</li>
                    </ul>
                </div>
            </div>
        </div>*@
    @*<div class="container body-content" style="width:100%;">*@
    <div class="container-fluid body-content">
        @RenderBody()
        <footer>
            <table width="100%" border="0" cellpadding="0" cellspacing="0" style="background-color:#363636;">
                <tr>
                    <td>
                        <table width="90%" border="0" cellpadding="10" cellspacing="0" align="center" style="margin:0 auto;">
                            <tr>
                                <td>
                                    <table width="60%" cellpadding="0" cellspacing="0" border="0" align="left">
                                        <tr><br /></tr>
                                        <tr>
                                            <td valign="top" style="font-size: 11px; color: #f1f1f1; color:#999; font-family: Arial, sans-serif; padding-bottom:20px" class="center">
                                                Disclaimer: Our travel time advisory above is based on the traffic insights during Chinese New Year period for the past 3 years.
                                                <br /><br />
                                                PLUS Malaysia Berhad (923639-A)
                                                <a href="http://www.plus.com.my" style="color:#999;text-decoration:underline;">www.plus.com.my</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td valign="center" style="font-size: 11px; color: #f1f1f1; color:#999; font-family: Arial, sans-serif; padding-bottom:5px" class="center">
                                                <img src="~/images/plus_app_thumb.png" width="18"> Download PLUS App: <a href="https://itunes.apple.com/my/app/plus-app-official/id1439887531?mt=8" style="color:#999;text-decoration:underline;">iOS</a>&nbsp; | &nbsp;<a href="https://play.google.com/store/apps/details?id=com.PLUS&showAllReviews=true" style="color:#999;text-decoration:underline;">Android</a>
                                            </td>
                                        </tr>
                                    </table>

                                    <table width="30%" cellpadding="0" cellspacing="0" border="0" align="right" class="deviceWidth">
                                        <tr>
                                            <td valign="top" style="font-size: 11px; color: #f1f1f1; font-weight: normal; font-family: Georgia, Times, serif; line-height: 26px; vertical-align: top; text-align:right" class="center">
                                                <a href="https://www.facebook.com/MYPLUSMiles" target="_blank"><img src="~/images/facebook.png" width="30" height="30" alt="Facebook" title="Facebook" border="0" /></a>
                                                <a href="https://www.instagram.com/plus_malaysia/" target="_blank"><img src="~/images/instagram.png" width="30" height="30" alt="Instagram" title="Instagram" border="0" /></a>
                                                <a href="https://twitter.com/plus2u" target="_blank"><img src="~/images/twitter.png" width="30" height="30" alt="Twitter" title="Twitter" border="0" /></a>
                                                <br />
                                                <a href="http://www.plus.com.my"><img src="~/images/plus_logo.png" alt="" border="0" width="70" style="padding-top: 5px;" /></a>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr><td> <br /> </td></tr>
            </table>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
