@model journey.Models.DriverModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <!-- IFWAT Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-133656386-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-133656386-1');
    </script>


    <meta charset="utf-8">
    @*<meta name="viewport" content="width=device-width, initial-scale=1">*@
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />

    <style type="text/css">
        div.center-cropped {
            min-width: 250px;
            min-height: 70%;
            overflow: hidden;
        }

            div.center-cropped img {
                min-height: 100%;
                min-width: 100%;
                left: 50%;
                position: relative;
                transform: translateX(-50%);
            }

        #planNowBtn a img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 100%;
        }
        /* HIDE RADIO */
        [type=radio] {
            position: absolute;
            opacity: 0;
            width: 0;
            height: 0;
        }

            /* IMAGE STYLES */
            [type=radio] + img {
                cursor: pointer;
            }

            /* CHECKED STYLES */
            [type=radio]:checked + img {
                outline: 2px solid #f00;
            }
    </style>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>

        $(document).ready(function () {
            $("#hide").click(function () {

                var jsfrom = document.forms['ifwatForm'].jsFrom.value;
                var jsto = document.forms['ifwatForm'].jsTo.value;

                var SBorNB = jsfrom - jsto;
                if (SBorNB == 1 || SBorNB == -1) {
                    $("#LabelTime").text("After 7:00 pm");
                    $("#Time").val("7:00 pm");

                }
                else if (SBorNB == 0) {
                    $("#LabelTime").text("After 7:00 pm");
                    $("#Time").val("7:00 pm");


                }
                else if (SBorNB == 2 || SBorNB == -2) {
                    $("#LabelTime").text("After 3:00 pm");
                    $("#Time").val("3:00 pm");

                }
                else if (SBorNB == 3 || SBorNB == -3) {
                    $("#LabelTime").text("Before 11:00 am");
                    $("#Time").val("11:00 am");
                }
                else if (SBorNB >= 4 || SBorNB <= -4) {
                    $("#LabelTime").text("Before 7:00 am");
                    $("#Time").val("7:00 am");
                }


                var jsfromText = $("#jsFrom option:selected").text()
                var jstoText = $("#jsTo option:selected").text()



                var lblFromToTo = " " + jsfromText + " - " + jstoText + " ";
                $("#lblFromTo").text(lblFromToTo);

                $("#FromTextBox").val($("#jsFrom option:selected").text());
                $("#ToTextBox").val($("#jsTo option:selected").text());


                var JourneyDateToDisplay = document.forms['ifwatForm'].jsTypeJourney.value;
                if (JourneyDateToDisplay == "PRERAYA") { $("#preDateList").show(); $("#postDateList").hide(); }
                else if (JourneyDateToDisplay == "POSTRAYA") { $("#preDateList").hide(); $("#postDateList").show(); }


                if (jsfrom == null || jsfrom == "" || jsto == null || jsto == "") {
                    alert("Please fill all required field");
                    return false;
                }
                else {
                    $("#MainDiv").hide();
                    $("#SecondDiv").show();
                    $("#SecondDivPointOne").show();
                    $("#ThirdDiv").show();
                    $("#ThankYouDiv").hide();
                }
            });
            $("#backBtnClick").click(function () {
                //$("#MainDiv").show();
                //$("#SecondDiv").hide();
                //$("#SecondDivPointOne").hide();
                //$("#ThirdDiv").hide();
                //$("#ThankYouDiv").hide();
                $("#MainDiv").load('@Url.Action("Index")');
            });
            $("#hideAgain").click(function () {
                $("#MainDiv").hide();
                $("#SecondDiv").hide();
                $("#SecondDivPointOne").hide();
                $("#ThirdDiv").show();
                $("#ThankYouDiv").hide();
            });
            $("#show").click(function () {
                $("#MainDiv").show();
                $("#SecondDiv").hide();
                $("#SecondDivPointOne").hide();
                $("#ThirdDiv").hide();
            });
            $("#CheckEmailDateTime").click(function () {

                var checkEmail = document.forms['ifwatForm'].jsEmail.value;
                var checkTime = document.forms['ifwatForm'].Time.value;


                if (/^\w+([\.-]?\w+)*@@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(checkEmail))
                  {
                    return (true)
                  }
                    alert("You have entered an invalid email address!")
                    return (false)


                //var SelectionDate = $("#radDateSelect option:selected").text()

                //if (SelectionDate == "100hb") {
                //    alert("Please select date");
                //    return false;
                //}

                if (checkTime == null || checkTime == "") {
                    alert("Time not available. Please reselect your destination!")
                    return false;
                }

                if (checkEmail == null || checkEmail == "") {
                    alert("Please fill up an email");
                    return false;
                }

                $("#MainDiv").hide();
                $("#SecondDiv").hide();
                $("#SecondDivPointOne").hide();
                $("#ThirdDiv").hide();
                $("#ThankYouDiv").show();
            });

        });
    </script>
    @*FACEBOOK PIXEL*@
    <!-- Facebook Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
            n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '1997023217077687');
        fbq('track', 'PageView');
        fbq('track', 'Subscribe');
    </script>
    <noscript>
        <img height="1" width="1" style="display:none"
             src="https://www.facebook.com/tr?id=1997023217077687&ev=PageView&noscript=1" />
    </noscript>
    <!-- End Facebook Pixel Code -->
</head>
<body>
    <div class="center-cropped">
        <img src="~/images/PLUS Raya Banner.png" alt="" />
    </div>
    @*<img src="~/images/banner_CNY.jpg" alt="ASP.NET" class="img-fluid" style="width:100%" />*@

    @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { id = "ifwatForm" }))
    {
        @Html.AntiForgeryToken()

        <div class="row" id="MainDiv" style="background-color:white; text-align:center;">
            <div class="container">
                <h2 style=" color: #d0021b; margin-left:10px; margin-right:10px;">
                    <b>Smoother Journey with PLUS  Festive Travel Planner this Hari Raya!</b>
                </h2>
                <br />
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <h4 style="text-align: center; color:#9b9b9b">
                            Select your departure and arrival destination to plan your best time to travel:-
                        </h4>
                    </div>
                    <div class="col-md-2"></div>
                </div>
                <br />
                <div class="col-md-3">
                    <h4 style="text-align:left; color:#0033A1; margin-bottom:5px;">
                        Period<br />
                        @Html.DropDownListFor(m => m.Period, new List<SelectListItem>
                               { new SelectListItem{Text="Before Raya", Value="PRERAYA"},
                                 new SelectListItem{Text="After Raya", Value="POSTRAYA"}},
                           new { @class = "form-control selectpicker",
                               @id = "jsTypeJourney",
                               style = "width: 100%;"
                           })
                    </h4>
                </div>
                <div class="col-md-3">
                    <h4 style="text-align:left; color:#0033A1; margin-bottom:5px;">
                        From
                        <br />
                        @Html.DropDownListFor(m => m.From, new List<SelectListItem>
                 {      /*new SelectListItem{Text="Please Select", Value="0", Selected=true},*/
                       new SelectListItem{Text="Kuala Lumpur", Value="4"},
                        new SelectListItem{Text="Alor Gajah", Value="2"},
                        new SelectListItem{Text="Alor Setar", Value="8"},
                        new SelectListItem{Text="Ayer Hitam ", Value="1"},
                        new SelectListItem{Text="Ayer Keroh", Value="2"},
                        new SelectListItem{Text="Bandar Saujana Putra", Value="4"},
                        new SelectListItem{Text="Bangi", Value="4"},
                        new SelectListItem{Text="Behrang", Value="5"},
                        new SelectListItem{Text="Bidor", Value="5"},
                        new SelectListItem{Text="Bagan Serai", Value="7"},
                        new SelectListItem{Text="Butterworth", Value="7"},
                        new SelectListItem{Text="Bukit Beruntung", Value="5"},
                        new SelectListItem{Text="Bukit Merah", Value="7"},
                        new SelectListItem{Text="Bukit Mertajam", Value="7"},
                        new SelectListItem{Text="Klang (Bukit Raja)", Value="4"},
                        new SelectListItem{Text="Bukit Tagar", Value="5"},
                        new SelectListItem{Text="Changkat Jering", Value="6"},
                        new SelectListItem{Text="Damansara", Value="4"},
                        new SelectListItem{Text="Dengkil (Bandar Serenia)", Value="4"},
                        new SelectListItem{Text="Gopeng", Value="6"},
                        new SelectListItem{Text="Gurun", Value="8"},
                        new SelectListItem{Text="Ipoh", Value="6"},
                        new SelectListItem{Text="Jasin", Value="2"},
                        new SelectListItem{Text="Juru", Value="7"},
                        new SelectListItem{Text="Jitra", Value="8"},
                        new SelectListItem{Text="Johor Bahru", Value="1"},
                        new SelectListItem{Text="Kajang", Value="4"},
                        new SelectListItem{Text="Kepala Batas", Value="8"},
                        new SelectListItem{Text="KLIA", Value="4"},
                        new SelectListItem{Text="Kota Damansara", Value="4"},
                        new SelectListItem{Text="Kulai", Value="1"},
                        new SelectListItem{Text="Kuala Kubu Baru (Lembah Beringin)", Value="5"},
                        new SelectListItem{Text="Machap", Value="1"},
                        new SelectListItem{Text="Muar (Bukit Gambir)", Value="1"},
                        new SelectListItem{Text="Nibong Tebal", Value="7"},
                        new SelectListItem{Text="Nilai", Value="3"},
                        new SelectListItem{Text="Pagoh", Value="1"},
                        new SelectListItem{Text="Parit Buntar", Value="7"},
                        new SelectListItem{Text="Pedas Linggi", Value="2"},
                        new SelectListItem{Text="Penang", Value="7"},
                        new SelectListItem{Text="Pendang", Value="8"},
                        new SelectListItem{Text="Putrajaya", Value="4"},
                        new SelectListItem{Text="Putra Heights/USJ", Value="4"},
                        new SelectListItem{Text="Putra Mahkota", Value="4"},
                        new SelectListItem{Text="Port Dickson", Value="3"},
                        new SelectListItem{Text="Rawang", Value="4"},
                        new SelectListItem{Text="Seberang Prai ", Value="7"},
                        new SelectListItem{Text="Senawang", Value="3"},
                        new SelectListItem{Text="Serdang", Value="4"},
                        new SelectListItem{Text="Seremban", Value="3"},
                        new SelectListItem{Text="Serendah (Sungai Buaya) ", Value="5"},
                        new SelectListItem{Text="Setia Alam", Value="4"},
                        new SelectListItem{Text="Shah Alam", Value="4"},
                        new SelectListItem{Text="Simpang Pulai", Value="6"},
                        new SelectListItem{Text="Simpang Renggam", Value="1"},
                        new SelectListItem{Text="Skudai", Value="1"},
                        new SelectListItem{Text="Slim River", Value="5"},
                        new SelectListItem{Text="Subang", Value="4"},
                        new SelectListItem{Text="Sungai Buloh", Value="4"},
                        new SelectListItem{Text="Sungai Petani", Value="8"},
                        new SelectListItem{Text="Sungkai", Value="5"},
                        new SelectListItem{Text="Taiping", Value="6"},
                        new SelectListItem{Text="Tangkak", Value="1"},
                        new SelectListItem{Text="Tanjung Malim", Value="5"},
                        new SelectListItem{Text="Tapah", Value="6"}},
            "Please Select", new { @class = "form-control selectpicker", @id = "jsFrom"
            })
                    </h4>
                </div>
                <div class="col-md-3">
                    <h4 style="text-align:left; color:#0033A1; margin-bottom:5px;">
                        To<br />
                        @Html.DropDownListFor(m => m.To, new List<SelectListItem>
                      {
                       //new SelectListItem{Text="Please Select", Value="0", Selected=true},
                       new SelectListItem{Text="Kuala Lumpur", Value="4"},
                        new SelectListItem{Text="Alor Gajah", Value="2"},
                        new SelectListItem{Text="Alor Setar", Value="8"},
                        new SelectListItem{Text="Ayer Hitam ", Value="1"},
                        new SelectListItem{Text="Ayer Keroh", Value="2"},
                        new SelectListItem{Text="Bandar Saujana Putra", Value="4"},
                        new SelectListItem{Text="Bangi", Value="4"},
                        new SelectListItem{Text="Behrang", Value="5"},
                        new SelectListItem{Text="Bidor", Value="5"},
                        new SelectListItem{Text="Bagan Serai", Value="7"},
                        new SelectListItem{Text="Butterworth", Value="7"},
                        new SelectListItem{Text="Bukit Beruntung", Value="5"},
                        new SelectListItem{Text="Bukit Merah", Value="7"},
                        new SelectListItem{Text="Bukit Mertajam", Value="7"},
                        new SelectListItem{Text="Klang (Bukit Raja)", Value="4"},
                        new SelectListItem{Text="Bukit Tagar", Value="5"},
                        new SelectListItem{Text="Changkat Jering", Value="6"},
                        new SelectListItem{Text="Damansara", Value="4"},
                        new SelectListItem{Text="Dengkil (Bandar Serenia)", Value="4"},
                        new SelectListItem{Text="Gopeng", Value="6"},
                        new SelectListItem{Text="Gurun", Value="8"},
                        new SelectListItem{Text="Ipoh", Value="6"},
                        new SelectListItem{Text="Jasin", Value="2"},
                        new SelectListItem{Text="Juru", Value="7"},
                        new SelectListItem{Text="Jitra", Value="8"},
                        new SelectListItem{Text="Johor Bahru", Value="1"},
                        new SelectListItem{Text="Kajang", Value="4"},
                        new SelectListItem{Text="Kepala Batas", Value="8"},
                        new SelectListItem{Text="KLIA", Value="4"},
                        new SelectListItem{Text="Kota Damansara", Value="4"},
                        new SelectListItem{Text="Kulai", Value="1"},
                        new SelectListItem{Text="Kuala Kubu Baru (Lembah Beringin)", Value="5"},
                        new SelectListItem{Text="Machap", Value="1"},
                        new SelectListItem{Text="Muar (Bukit Gambir)", Value="1"},
                        new SelectListItem{Text="Nibong Tebal", Value="7"},
                        new SelectListItem{Text="Nilai", Value="3"},
                        new SelectListItem{Text="Pagoh", Value="1"},
                        new SelectListItem{Text="Parit Buntar", Value="7"},
                        new SelectListItem{Text="Pedas Linggi", Value="2"},
                        new SelectListItem{Text="Penang", Value="7"},
                        new SelectListItem{Text="Pendang", Value="8"},
                        new SelectListItem{Text="Putrajaya", Value="4"},
                        new SelectListItem{Text="Putra Heights/USJ", Value="4"},
                        new SelectListItem{Text="Putra Mahkota", Value="4"},
                        new SelectListItem{Text="Port Dickson", Value="3"},
                        new SelectListItem{Text="Rawang", Value="4"},
                        new SelectListItem{Text="Seberang Prai ", Value="7"},
                        new SelectListItem{Text="Senawang", Value="3"},
                        new SelectListItem{Text="Serdang", Value="4"},
                        new SelectListItem{Text="Seremban", Value="3"},
                        new SelectListItem{Text="Serendah (Sungai Buaya) ", Value="5"},
                        new SelectListItem{Text="Setia Alam", Value="4"},
                        new SelectListItem{Text="Shah Alam", Value="4"},
                        new SelectListItem{Text="Simpang Pulai", Value="6"},
                        new SelectListItem{Text="Simpang Renggam", Value="1"},
                        new SelectListItem{Text="Skudai", Value="1"},
                        new SelectListItem{Text="Slim River", Value="5"},
                        new SelectListItem{Text="Subang", Value="4"},
                        new SelectListItem{Text="Sungai Buloh", Value="4"},
                        new SelectListItem{Text="Sungai Petani", Value="8"},
                        new SelectListItem{Text="Sungkai", Value="5"},
                        new SelectListItem{Text="Taiping", Value="6"},
                        new SelectListItem{Text="Tangkak", Value="1"},
                        new SelectListItem{Text="Tanjung Malim", Value="5"},
                        new SelectListItem{Text="Tapah", Value="6"}},
             "Please Select", new
             {
                 @class = "form-control input-md",
                 @id = "jsTo"
             })
                    </h4>
                </div>

                <div class="col-md-2">
                    <br />
                    <img src="~/images/btn_plannow.png" alt="Plan My Journey" class="img-responsive" id="hide" style="display: block; margin-left: auto; margin-right: auto; min-width:150px" />

                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
        <div class="row" id="SecondDiv" style="display:none; text-align: center; margin-left:10px; margin-right:10px;">
            <div class="container">
                <h2>
                    <b>Here you go!</b>
                    <br />
                </h2>
                <h2 style="color:#0033A1;">@Html.LabelFor(m => m.lblFromTo, new { id = "lblFromTo", Value = "TESTING", @class = "LabelStyle" })</h2>

                <div class="cc-selector" id="preDateList" style="display:none;">
                    <label>
                        @Html.RadioButton("DateSelected", "31 Jan", new { id = "radDateSelect" })
                        <img src="https://journeyplus.azurewebsites.net/images/cny-31jan.jpg" style="max-width:300px">
                    </label>

                    <label>
                        @Html.RadioButton("DateSelected", "1 Feb", new { id = "radDateSelect" })
                        <img src="https://journeyplus.azurewebsites.net/images/cny-1feb.jpg" style="max-width:300px">
                    </label>

                    <label>
                        @*<input type="radio" name="test" value="big2">*@
                        @Html.RadioButton("DateSelected", "2 Feb", new { id = "radDateSelect" })
                        <img src="https://journeyplus.azurewebsites.net/images/cny-2feb.jpg" style="max-width:300px">
                    </label>

                    <label>
                        @Html.RadioButton("DateSelected", "31 Jan", new { id = "radDateSelect" })
                        <img src="https://journeyplus.azurewebsites.net/images/cny-31jan.jpg" style="max-width:300px">
                    </label>

                    <label>
                        @Html.RadioButton("DateSelected", "1 Feb", new { id = "radDateSelect" })
                        <img src="https://journeyplus.azurewebsites.net/images/cny-1feb.jpg" style="max-width:300px">
                    </label>

                    <label>
                        @*<input type="radio" name="test" value="big2">*@
                        @Html.RadioButton("DateSelected", "2 Feb", new { id = "radDateSelect" })
                        <img src="https://journeyplus.azurewebsites.net/images/cny-2feb.jpg" style="max-width:300px">
                    </label>
                </div>
                <div class="cc-selector" id="postDateList" style="display:none;">
                    <label>
                        @Html.RadioButton("DateSelected", "7 Feb", new { id = "radDateSelect" })
                        <img src="https://journeyplus.azurewebsites.net/images/cny-7feb.jpg" style="max-width:300px">
                    </label>

                    <label>
                        @Html.RadioButton("DateSelected", "8 Feb", new { id = "radDateSelect" })
                        <img src="https://journeyplus.azurewebsites.net/images/cny-8feb.jpg" style="max-width:300px">
                    </label>

                    <label>
                        @Html.RadioButton("DateSelected", "9 Feb", true, new { id = "radDateSelect" })
                        <img src="https://journeyplus.azurewebsites.net/images/cny-9feb.jpg" style="max-width:300px">
                    </label>

                    <label>
                        @Html.RadioButton("DateSelected", "7 Feb", new { id = "radDateSelect" })
                        <img src="https://journeyplus.azurewebsites.net/images/cny-7feb.jpg" style="max-width:300px">
                    </label>

                    <label>
                        @Html.RadioButton("DateSelected", "8 Feb", new { id = "radDateSelect" })
                        <img src="https://journeyplus.azurewebsites.net/images/cny-8feb.jpg" style="max-width:300px">
                    </label>

                    <label>
                        @Html.RadioButton("DateSelected", "9 Feb", true, new { id = "radDateSelect" })
                        <img src="https://journeyplus.azurewebsites.net/images/cny-9feb.jpg" style="max-width:300px">
                    </label>

                </div>
                <br />

                <h4 style="text-align:center;">Recommended departure time</h4>
                <h2>@Html.LabelFor(m => m.Time, new { id = "LabelTime" }) </h2>
                <div id="THIS-IS-FOR-GET-TIME-VALUE-FROM-LABEL" style="display:none;">
                    @Html.TextBoxFor(m => m.Time)
                    @Html.TextBoxFor(m => m.FromTextBox)
                    @Html.TextBoxFor(m => m.ToTextBox)
                </div>
                <br />
            </div>
        </div>
        <div class="row" id="SecondDivPointOne" style="display:none; margin-left: auto; margin-right: auto; align-content: center; width:80%">
            <h4 style="text-align:center;">Save this travel time in your calendar now by receiving an email notification from us. Drop your email address today</h4>
            <div class="col-md-3"> </div>
            <div class="col-md-3">
                @Html.TextBoxFor(m => m.Email, new { placeholder = "Email Address", id = "jsEmail", @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Email)
                <br />
            </div>
            <div class="col-md-3">
                <input type="submit" name="answer" value="SET REMINDER " class="btn btn-success" id="CheckEmailDateTime" @*onclick="redirectPlusMiles(this.value)"*@ style="width:67%;" />
              
                <input type="button" value="BACK " class="btn btn-success" onclick="backoperation()" style="width:30%;" />

                <script>
                    function backoperation()
                    {
                    window.location.href = "@Url.Action("Index")";
                    }
                </script>
            </div>
            <div class="col-md-3">
            </div>
        </div>
        <br />
        <div class="row" id="ThirdDiv" style="display:none; text-align: center; margin-left:10px; margin-right:10px;">
            <div class="col-md-12">
                <h4 style="text-align:center;">Do not drive if you are tired, stop by the nearest R&amp;R to refresh yourself.</h4>
                <div class="container" id="carosell-RSA">
                    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000" style="background-color:#e04d53;">
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                            <li data-target="#myCarousel" data-slide-to="3"></li>
                            <li data-target="#myCarousel" data-slide-to="4"></li>
                            <li data-target="#myCarousel" data-slide-to="5"></li>
                            <li data-target="#myCarousel" data-slide-to="6"></li>
                            <li data-target="#myCarousel" data-slide-to="7"></li>
                        </ol>
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <img src="~/images/photo_1_rsa.jpg" alt="ASP.NET" class="img-responsive" style="width:100%;" />
                                <div class="carousel-caption" role="option">
                                    <p>

                                    </p>
                                </div>
                            </div>
                            <div class="item">
                                <img src="~/images/photo_2_rsa.jpg" alt="Visual Studio" class="img-responsive" />
                                <div class="carousel-caption" role="option">
                                    <p>

                                    </p>
                                </div>
                            </div>
                            <div class="item">
                                <img src="~/images/photo_3_rsa.jpg" alt="Microsoft Azure" class="img-responsive" />
                                <div class="carousel-caption" role="option">
                                    <p>

                                    </p>
                                </div>
                            </div>
                            <div class="item">
                                <img src="~/images/photo_4_rsa.jpg" alt="Visual Studio" class="img-responsive" />
                                <div class="carousel-caption" role="option">
                                    <p>

                                    </p>
                                </div>
                            </div>
                            <div class="item">
                                <img src="~/images/photo_5_rsa.jpg" alt="Microsoft Azure" class="img-responsive" />
                                <div class="carousel-caption" role="option">
                                    <p>

                                    </p>
                                </div>
                            </div>
                            <div class="item">
                                <img src="~/images/photo_6_rsa.jpg" alt="Visual Studio" class="img-responsive" />
                                <div class="carousel-caption" role="option">
                                    <p>

                                    </p>
                                </div>
                            </div>
                            <div class="item">
                                <img src="~/images/photo_7_rsa.jpg" alt="Microsoft Azure" class="img-responsive" />
                                <div class="carousel-caption" role="option">
                                    <p>

                                    </p>
                                </div>
                            </div>
                            <div class="item">
                                <img src="~/images/photo_8_rsa.jpg" alt="Microsoft Azure" class="img-responsive" />
                                <div class="carousel-caption" role="option">
                                    <p>

                                    </p>
                                </div>
                            </div>
                        </div>
                        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <br />
                <!--BUAH TANGAN IMAGE-->
                @*<img src="~/images/buahtangan_bag.png" width="100%" />*@
                <br />
                <br />
                <!--SPECIAL PROMOTION BANNER-->
                <h4><b>Special Promotions at R&amp;R</b></h4>
                <img src="~/images/CNYDealPLUS.jpg" width="100%" />
                <br /><br />
                <img src="~/images/promo_petron.jpg" width="100%" />
                <br /><br />
                <img src="~/images/promoDunkinDonut.jpg" width="100%" />
                <br /><br />
                <img src="~/images/famousamos.png" width="100%" />
                <br /><br />
                <img src="~/images/promo_news2.jpg" width="100%" />
                <br /><br />
            </div>
        </div>
    }

</body>